@import "tailwindcss";

@theme {
  --color-primary-400: #22d3ee;
  --color-primary-500: #06b6d4;
  --color-primary-600: #0891b2;
  --color-primary-900: #083344;
  --color-accent-400: #a8a29e;
  --color-accent-500: #78716c;
  --color-accent-900: #44403c;
  --color-surface-300: #d6d3d1;
  --color-surface-400: #a8a29e;
  --color-surface-500: #78716c;
  --color-surface-600: #57534e;
  --color-surface-700: #44403c;
  --color-surface-800: #292524;
  --color-surface-900: #1c1917;
}
